// colors
$blue01: rgb(31, 63, 104);
$blue02: rgb(49, 96, 153);
$blue03: rgb(53, 110, 173);
$blue04: rgb(90, 152, 208);
$blue05: rgb(152, 195, 232);
$white: #FFF;
$border-color: rgba(255, 255, 255, .4);
$lightblue_grad: linear-gradient(180.99deg, rgba(255, 255, 255, 0) 6.19%, rgba(100, 181, 246, 0.6) 103.09%);
$border: 1px solid $border-color;
$overlay: rgba(0, 0, 0, 0.5);
$card-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);